/*** VARIABLES ***/
$main-color: #9356dc;
$second-color: #ff79da;
$third-color: #99e2d0;

/*** MIXINS ***/

@mixin mixin-icon {
    color: #7e7e7e;
}

@mixin mixin-txt16px {
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 500;
}

@mixin mixin-grid-mobile {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

/*** GENERAL ***/
* {
    margin: 0;
}

a {
    text-decoration: none;
    display: flex;
}

h1 {
    font-family: "Shrikhand";
    font-size: 30px;
    font-weight: 400;
    padding: 14px 89px 6px;
    color: #000;
}

h2 {
    font-size: 24px;
    padding-top: 50px;
    padding-bottom: 30px;
}

h2 {
    font-family: "Shrikhand";
    font-size: 28px;
    padding-left: 17px;
}

h3 {
    font-family: "Roboto";
    font-weight: 700;
    color: #000;
    padding-left: 17px;
}

img {
    object-fit: cover;
    width: 100%;
    height: 275px;
}


/*** HEADER ***/

.main-title {
    .fa-arrow-left {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;
        font-size: 30px;
        padding-left: 17px;
    }
}
