/*** VARIABLES ***/
$main-color: #9356dc;
$second-color: #ff79da;
$third-color: #99e2d0;

/*** VARIABLES ***/

@mixin mixin-icon {
    color: #7e7e7e;
}

@mixin mixin-txt16px {
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 500;
}

@mixin mixin-grid-mobile {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

/*** GENERAL ***/
* {
    margin: 0;
}

a {
    text-decoration: none;
    display: flex;
}

h1 {
    font-family: "Shrikhand";
    font-size: 30px;
    font-weight: 400;
    padding: 14px 89px 6px;
    color: #000;
}

h2 {
    font-size: 24px;
    padding-top: 50px;
    padding-bottom: 30px;
}

h3 {
    font-size: 18px;
}

h2,
h3 {
    font-family: "Roboto";
    font-weight: 700;
    color: #000;
    padding-left: 17px;
}

img {
    object-fit: cover;
}

/*** HEADER ***/
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    .logo {
        height: 44px;
        padding: 24px 89px 0;
    }

    a {
        justify-content: center;
    }
}

.search-location {
    background-color: #eaeaea;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    height: 50px;
    width: auto;
    gap: 17px;
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: -5px;
        left: 0;
        width: 100%;
        height: 10px;
        background-image: linear-gradient(to bottom, rgba(126, 126, 126, 0.6) 0%, transparent 100%);
    }

    input {
        background-color: #eaeaea;
        border: none;
        font-size: 16px;
    }

    .icon-marker {
        display: flex;
        align-items: center;
        padding-left: 60px;
    }
}

/*** 1ER RECTANGLE ***/
.first {
    background: #f7f7f7;
    display: flex;
    flex-direction: column;
    width: auto;
    text-align: center;
    align-items: center;
    gap: 30px;
    padding-bottom: 60px;

    h2 {
        padding-top: 40px;
        padding-bottom: 0;
    }

    .second-title {
        display: grid;
        gap: 15px;
    }

    .second-title span {
        /*** pq si gras ? ***/
        font-family: "Roboto";
        font-weight: 300;
        font-size: 18px;
    }
}

.button-search {
    @include mixin-txt16px;
    color: white;
    padding: 13px 19px;
    background: linear-gradient($second-color, $main-color);
    border: none;
    border-radius: 30px;
    width: 218px;
    height: 50px;
}

/*** 2EME RECTANGLE ***/
.second {
    @include mixin-grid-mobile;
    gap: 30px;
    padding-bottom: 23px;

    .list-btn {
        display: grid;
        justify-content: center;
        align-items: center;
        gap: 20px;
        list-style-type: none;
        padding: 0;
        counter-reset: item;
    }

    li {
        position: relative;
    }

    li:before {
        content: counter(item);
        counter-increment: item;
        position: absolute;
        left: -12px;
        bottom: 24px;
        width: 24px;
        height: 24px;
        font-size: 18px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: $main-color;
        border-radius: 50%;
    }

    .fonctioning-btn {
        @include mixin-txt16px;
        border-radius: 20px;
        background: #f6f6f6;
        border: none;
        height: 72px;
        width: 322px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    }

    .fas {
        @include mixin-icon;
        position: absolute;
        left: 37px;
    }

    .fa-mobile-alt:before {
        width: 13px;
        height: 20px;
    }

    .fa-list-dots:before {
        width: 16px;
        height: 16px;
    }

    .fa-store:before {
        color: $main-color;
        width: 18px;
        height: 18px;
    }
}

/*** 3EME RECTANGLE ***/

.third {
    /*** à revoir (surtout img). Fait à vue d'oeil ***/
    @include mixin-grid-mobile;
    background: #f7f7f7;
    padding: 0 20px 60px;

    h2 {
        padding-left: 0;
    }

    .cards {
        width: 100%;
    }

    .card {
        background-color: white;
        flex: 0 0 30%;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.1);
    }

    img {
        position: relative;
        width: 100%;
        height: 150px;
        border-radius: 15px 15px 0 0;
    }

    .card-new { /*** à revoir . Pas bon! (idem .card-new2) ***/
        position: absolute;
        width: 65px;
        height: 12px;
        bottom: -2px;
        right: 33px;
        border-radius: 3px;
        color: #008766;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        font-size: 14px;
        font-weight: 500;
        font-family: "Roboto";
        background-color: #99e2d0;
    }

    .card-new2 {
        position: absolute;
        width: 65px;
        height: 12px;
        bottom: -22vh;
        right: 33px;
        border-radius: 3px;
        color: #008766;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        font-size: 14px;
        font-weight: 500;
        font-family: "Roboto";
        background-color: #99e2d0;
    }
}
